In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../data/raw/Dataset-Words_Translation_URLS.csv')
df.head()

,word,translation,audiourl
0,acahkosak,stars,https://fv-media-uploads.s3.amazonaws.com/cree...
1,achimēwak,They are telling a story about him.,https://fv-media-uploads.s3.amazonaws.com/cree...
2,achimoh,Tell a story!,https://fv-media-uploads.s3.amazonaws.com/cree...
3,achimostamawâw,A story is told to him/her,https://fv-media-uploads.s3.amazonaws.com/cree...
4,achimostaw,Tell him a story.,https://fv-media-uploads.s3.amazonaws.com/cree...

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   word         992 non-null    object
 1   translation  992 non-null    object
 2   audiourl     982 non-null    object
dtypes: object(3)
memory usage: 23.4+ KB

In [9]:
df['audio'] = df.apply(
    lambda row: row['word'].replace(' ', '_') + '.mp3' if pd.notnull(row['audiourl']) else np.nan,
    axis=1
)

In [10]:
df.head()

,word,translation,audiourl,audio
0,acahkosak,stars,https://fv-media-uploads.s3.amazonaws.com/cree...,acahkosak.mp3
1,achimēwak,They are telling a story about him.,https://fv-media-uploads.s3.amazonaws.com/cree...,achimēwak.mp3
2,achimoh,Tell a story!,https://fv-media-uploads.s3.amazonaws.com/cree...,achimoh.mp3
3,achimostamawâw,A story is told to him/her,https://fv-media-uploads.s3.amazonaws.com/cree...,achimostamawâw.mp3
4,achimostaw,Tell him a story.,https://fv-media-uploads.s3.amazonaws.com/cree...,achimostaw.mp3

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   word         992 non-null    object
 1   translation  992 non-null    object
 2   audiourl     982 non-null    object
 3   audio        982 non-null    object
dtypes: object(4)
memory usage: 31.1+ KB

In [12]:
df = df.drop(columns=['audiourl'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   word         992 non-null    object
 1   translation  992 non-null    object
 2   audio        982 non-null    object
dtypes: object(3)
memory usage: 23.4+ KB

In [13]:
df.to_csv('../data/cleaned/cree_dataset.csv', index=False)
df.to_json('../data/cleaned/cree_dataset.json', orient='records', lines=True)

In [15]:
df.to_json('../data/cleaned/cree_dataset.json', orient='records', indent=2, force_ascii=False)